.DS_Store
.vscode
ahsai/cache
anti_abuse
bilibili/cache
bilibilipush
control/plugins.db
danbooru
driftbottle
gif/users
guessmusic/cache
hs
job
manager
midicreate/cache
nsetu
nwife
pixiv
saucenao
scale
score
sleep
wordcount/cache
zbp